extends layout

block content
  .row
    #detailsArea.span6
      .hero-unit
        h1 Get Testing
        p Define remote methods, call them from methods, arrange them into scripts
    .span6
      .row
        .span6
          form
            .btn-group(data-toggle='buttons-radio')
              button(type="button")#allTestElementButton.btn.active All
              button(type="button")#scriptTestElementButton.btn Scripts
              button(type="button")#methodTestElementButton.btn Methods
              button(type="button")#remoteTestElementButton.btn Remote Methods
      .row
        .span6
          form.form-search
            input(type="text")#testElementFilter.input-large.search-query
            a(href="#").btn Filter
      #testElementsContainer.row
        #elementList.span6
          #scriptsContainer
            .pageHeader
              h2 Scripts
                a(href="#")#createScriptButton.btn.btn-success
                  i.icon-plus-sign.icon-white
            table.table.table-striped
              tbody#scripts
          #methodsContainer
            .pageHeader
              h2 Methods
                a(href="#")#createMethodButton.btn.btn-success
                  i.icon-plus-sign.icon-white
            table.table.table-striped
              tbody#methods
          #remoteMethodsContainer
            .pageHeader
              h2 Remote Methods
                a(href="#")#createRemoteMethodButton.btn.btn-success
                  i.icon-plus-sign.icon-white
            table.table.table-striped
              tbody#remote-methods