@main("crashtest - create remote method") {
    <div class="row">
        <div class="span12">
            <h2>Create a new Remote Method</h2>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="well">
                <form id="form" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputName">Name</label>
                        <div class="controls">
                            <input placeholder="Remote Method Name" id="inputName" type=text>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputParam">Add a Parameter <a href="#" class="icon-plus-sign"></a></label>
                        <div class="controls">
                             <input placeholder="Parameter Name" id="inputParam" type= text>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <a href="#" class="btn btn-primary" id="create">Create</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
